// Place all the styles related to the customer/customerapplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.link {
  color: white;
}
.name {
  color: maroon;
}
.description {
  color: maroon;
}
.price {
  color: maroon;
}
.thank {
  color: maroon;
  text-align: center;
}
.order {
  text-align: left;
}
