<div class = "col-md-4">
  <h1>本当に退会しますか？</h1><br>
  <p>退会すると、会員登録情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
  </p>
  <%= link_to "退会しない", customer_path(current_customer), class: "btn btn-primary", style: "margin-right:40px;" %>
  <%= link_to "退会する", customer_path(current_customer),class: "btn btn-danger", method: :delete %>
</div>