<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ながのCAKE 管理画面</title>
    </head>
    <div class="col-md-8 col-md-offset-4">

        <h2>本日の注文件数
            <%=link_to @order_counts.count ,admin_period_index_path%>
        件</h2>
    </div>