// Place all the styles related to the admin/adminapplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-brand {
    color: red;
}

.header-items {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.header-items a {
    color: black;
}

.searchwindow {
    padding-top: 1.3%;
    padding-right: 5%;
}