// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categorytitle {
    margin-right: 20%;
    margin-left: 15%;
    text-align: center;
    margin-bottom: 33px;
}

.categorysearch{
    text-align: center;
    margin-right: 20%;
    margin-left: 15%;
    margin-bottom: 33px;
}

.submitbtn{
    // height: ;
    transition: all .1s;
    transform: scale(0.9);
}