// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.itemtitle{
    margin-right: 20%;
    margin-left: 15%;
    margin-bottom: 33px;
    text-align: center;
}

.fa-plus-square {
    // bottom: 1px;
    margin-left: 92.5%;
}