// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ordertitle {
    margin-right: 20%;
    margin-left: 15%;
    margin-bottom: 33px;
    text-align: center;
}
// .col-md-8{
//     margin-top: 15px;
// }