<h1 style = "text-align: center; color: maroon;">ながのCAKEとは？</h1>
<h3 style = "text-align: center; color: maroon;">
サイトをご覧いただきありがとうございます！<br><br>
⻑野県にある⼩さな洋菓⼦店「ながのCAKE」です！<br><br>
昨年始めたInstagramから⼈気となり、DMでの対応が間に合わず、<br>
こちらのサイトで注文を承れるよう制作しました！<br>
<br>
ぜひ当店の商品を召し上がってみてください！<br>
</h3>